<div class="container">
  <h2>新規会員登録</h2>

    <%= form_with model: @user, url: user_registration_path do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :'ハンドルネーム', class: "col-md-3" %><br />
        <%= f.text_field :name, class: "col-md-2 form-control" %>
      </div>

      <div class="field">
        <%= f.label :'メールアドレス', class: "col-md-3" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-md-5 form-control" %>
      </div>

      <div class="field">
        <%= f.label :'パスワード' %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions mt-3">
        <%= f.submit "新規登録", class: "btn btn-sm btn-primary" %><!--col-md-1 offset-1-->
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

</div>
