<div class="border-end" id="sidebar-wrapper"><!-- bg-white-->
  <div class="sidebar-box">
    <div class="sidebar-image">
      <%= image_tag user.get_profile_image(100,100), style: "border-radius: 50%; width: 150px; height: 150px; object-fit:cover;" %>
    </div>
    <div>
      <h5>Welcom!<%= user.name %>さん</h5>
    </div>
   
    <!--div class="sidebar-list-item">< %= link_to "投稿する", new_muscle_path %></div>
    
    <div class="sidebar-list-item">< %= link_to "レビュー一覧", muscles_path %></div>
    <div class="sidebar-list-item">< %= link_to "マイページ", user_path(current_user.id) %></div-->
    <% if user.name != "ゲスト" %>
      <div class="sidebar-list-item"><%= link_to "設定を変更", edit_user_path(current_user.id) %></div>
    <% end %>
    
      <h5><i class="fas fa-tag"></i>タグ一覧</h5>
      <% label_list.each do |list| %>
      <div class= "container">
        <%= link_to list.name, label_muscles_path(label_id: list.id) %>
        <%= "(#{list.muscles.count})" %>
      </div>
      <% end %>
    
  </div>
</div>


<!--%= image_tag user.get_profile_image(100,100), style: "border-radius: 50%; width: 150px; height: 150px; object-fit:cover;" %>
<table class="table">
  <tr>
    <th>HN</th>
    <th>< %= user.name %></th>
  </tr>

</table>

    < % if current_user == user %>
      < %= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
      < % end %>
    < % end %-->

 <!--li class="nav-item">
        < %= image_tag user.get_profile_image(100,100), style: "border-radius: 50%; width: 150px; height: 150px; object-fit:cover;" %>
      </li>
      <li class="nav-item-side">
        < %= link_to "投稿", new_muscle_path, class: 'nav-link text-dark' %>
      </li>
      <li class="nav-item-side">
        < %= link_to "投稿一覧", muscles_path, class: 'nav-link text-dark' %>
      </li>
      <li class="nav-item-side">
        < %= link_to "マイページ", user_path(current_user.id), class: 'nav-link text-dark' %>
      </li>
      <li class="nav-item-side">
        < %= link_to "設定", edit_user_path(user), class: 'nav-link text-dark' %>
      </li-->