<div class="border-end" id="sidebar-wrapper"><!-- bg-white-->
  <div class="sidebar-box">
    <div class="sidebar-image">
      <%= image_tag user.get_profile_image(100,100), style: "border-radius: 50%; width: 150px; height: 150px; object-fit:cover;" %>
    </div>
    <div>
      <h5>Welcom!<%= user.name %>さん</h5>
    </div>
   
    <% if user.name != "ゲスト" %>
      <div class="sidebar-list-item"><%= link_to "設定を変更", edit_user_path(current_user.id) %></div>
    <% end %>
    
    <% if current_user.admin? %>
      <i class="fas fa-users"></i><%= link_to "ユーザー一覧", users_path %>
    <% end %>
    
      <h5><i class="fas fa-tag"></i>タグ一覧</h5>
      <% label_list.each do |list| %>
      <div class= "container">
        <%= link_to list.name, label_muscles_path(label_id: list.id) %>
        <%= "(#{list.muscles.count})" %>
      </div>
      <% end %>
    
  </div>
</div>


