  <!--head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Google fonts-- >
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-- >
    <link href="/assets/muscles.css" rel="stylesheet" />
  </head-->

<div class="d-flex" id="wrapper">
<%= render "users/info", user: current_user %>

  <div class="container"><!---fluid-->
    <div class="row">
      <div class="col-sm-2.px-0">

      </div>
      <div class="col-sm-10">
        <div class="col-sm-12 text-center">
          <h2>検索結果一覧</h2>
        </div>
        <% @muscles.each do |muscle| %>
        <div class="mainWrap">
          <div class="row">
            <div class="col-sm-2">
               <%= image_tag muscle.get_image(100,100) %>
            </div>
            <div class="col-sm-10">
              <h2><%= link_to muscle.title, muscle_path(muscle.id) %></h2>
              <div>
                <h4><%= muscle.caption %></h4>
              </div>

            <!--レビュー評価追加-->
            <div id="rate-rate<%= muscle.id %>">
              <script>
                $('#rate-rate<%= muscle.id %>').raty({
                  size     : 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  half: false,
                  readOnly: true,
                  score: <%= muscle.rate %>,
                });
              </script>
            </div>
            </div>

            <div class="col-sm-12 text-right">
              <%= muscle.user.name %>
              <i class="far fa-clock"></i> <%= muscle.updated_at.in_time_zone('Tokyo').strftime('%Y/%m/%d') %>
            </div>
          </div>
        </div>
        <% end %>
      </div>

    </div>
  </div>

</div>