




<% @muscles.each do |muscle| %>
 <div class="mainWrap">
    <div class="row">
      <div class="col-sm-2">
        <%= image_tag muscle.get_image, class: 'img_fluid' %>
      </div>

      <div class="col-sm-10">
        <%= muscle.title %>
        <%= muscle.caption %>
      </div>
      <div class="col-sm-12 text-right">
        <%= muscle.user.name %>
        <i class="far fa-clock"></i> <%= muscle.updated_at.in_time_zone('Tokyo').strftime('%Y/%m/%d') %>
      </div>
    </div>
  </div>
 <% end %>