<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/assets/muscles.scss" rel="stylesheet" />
</head>




<div class="container">
<h1>レビューを投稿する</h1>
  <%= form_with model: @muscle do |f| %>
    <h4><i class="fas fa-images"></i>イメージ</h4>
      <%= f.file_field :image, accept: "image/*" %>
    <h4>タイトル</h4>
      <%= f.text_field :title %>
    <h4>ポイント</h4>
      <%= f.text_area :caption, size: "40x10" %>


      <div class="form-group row" id="rate">
        <%= f.label :rate,'おすすめ度', class:'col-md-2 col-form-label' %>
        <%= f.hidden_field :rate, id: :reviw_rate %>
      </div>
      <script>
        //$('#rate').empty();
        $('#rate').raty({
          size     : 36,//36
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',


          scoreName: 'muscle[rate]',
          half: false,
        });
      </script>

      <div>
        <p>カテゴリー: <%= f.collection_check_boxes(:label_ids, Label.all, :id, :name) %></p>
      </div>


      <%= f.submit '投稿', class: "btn btn-sm btn-success" %>
      <%= link_to "戻る", muscles_path, class: "btn btn-sm btn-primary" %>

  <% end %>
  </div>