  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/assets/muscles.css" rel="stylesheet" />
  </head>

<div class="d-flex" id="wrapper">
   <%= render "users/info", user: @user  %>
  <div class="container">
    <div class="row">
      <div class="col-sm-2.px-0">

      </div>
      <div class="col-sm-10">
       <!--div-->
          <%= image_tag @muscle.get_image %>
          <p>タイトル: <%= @muscle.title %></p>
          <!--p>< %= image_tag @muscle.user.get_profile_image(100,100) %></p>
          <p>投稿者: < %= @muscle.user.name %></p-->
          <p>投稿日: <%= @muscle.created_at.strftime('%Y/%m/%d') %></p>
          <% if @muscle.user == current_user %>
            <%= link_to "削除", muscle_path(@muscle), method: :delete %>
          <% end %>
        <!--/div-->
      </div>
    </div>
  </div>
</div>






