  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/assets/muscles.scss" rel="stylesheet" />
  </head>

<div class="d-flex" id="wrapper">
<%= render "users/info", label_list: @label_list, user: current_user  %>


    <div class="container">
      <div class="row">
        <div class="col-sm-10">
        <div class="mainWrap">
          <div class="row">
            <div class="col-sm-3">
              <%= image_tag @muscle.get_image(100,100), style: "width: 150px; height: 150px;" %>
            </div>
            <div class="col-sm-9">
              <h1><%= @muscle.title %></h1>

              <div id="rate-rate<%= @muscle.id %>">
                <script>
                  $('#rate-rate<%= @muscle.id %>').raty({
                    size     : 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    half: false,
                    readOnly: true,
                    score: <%= @muscle.rate %>,
                  });
                </script>
              </div>
              
              
              <div class="col-sm-12 text-right">
                <% @muscle.labels.each do |label| %>
                  <i class="fas fa-tag"></i><%= label.name %>
                <% end %>
              </div>
              
              
              <div class="col-sm-12 text-right">
                <i class="far fa-clock"></i> <%= @muscle.created_at.strftime('%Y/%m/%d') %><br>
                
                <p>本文の感情分析スコア[<%= @muscle.score %>]</p>  
                <% if @muscle.user == current_user || current_user.admin? %>
                  <%= link_to "編集", edit_muscle_path(@muscle.id), class: "btn btn-sm btn-success" %>
                  <%= link_to "削除", muscle_path(@muscle), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-danger" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-10">
          <div class="mainWrap">
            <div class="col-sm-12 text-center">
              <h2><i class="fas fa-hand-point-up"></i>ポイント</h2>
            </div>
            <h3><%= safe_join(@muscle.caption.split("\n"),tag(:br)) %></h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="comment-box">
          <%= form_with model: [@muscle, @muscle_comment] do |f| %>
            <%= f.text_area :comment, size: "40x5", placeholder: "コメントをここに入力して下さい" %>
            <%= f.submit "送信", class: "btn btn-sm btn-success" %>
          <% end %>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-12">
          <h3>コメント一覧</h3>
        </div>
        <% @muscle.muscle_comments.each do |muscle_comment| %>
        <div class="col-sm-1">
           <%= image_tag muscle_comment.user.get_profile_image(100,100), style: "border-radius: 50%; width: 70px; height: 70px; object-fit:cover;" %>
        </div>
        <div class="col-sm-7">
          <div class="balloon">
            <%= link_to muscle_comment.user.name, user_path(muscle_comment.user.id) %><br>
            <%= muscle_comment.comment %>
            <div class="col-sm-12 text-right">
              <i class="far fa-clock"></i> <%= muscle_comment.updated_at.in_time_zone('Tokyo').strftime('%Y/%m/%d') %>
            </div>
          </div>
        </div>
        <div class="col-sm-4"></div>
        <% end %>
      </div>
    </div>
</div>




